:root {
    --dark: #212121 !important;
    --secondary: #363636 !important;
    --light: #d4d4d4 !important;
}

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    background-color: var(--secondary);
    color: var(--light);
}

.bg-contrast {
    background-color: var(--dark);
}

.bg-black {
    background-color: #131313;
}

.main_content {
    padding: 3em 4em;
}

.main_content h1 {
    font-size: 3rem;
    font-weight: 400;
}

/* Navbar */

.navbar_custom {
    padding: 5px 25px;
}

.nav-link {
    color: var(--light) !important;
    font-size: 18px;
    margin: 0 15px;
}

.nav-link:hover {
    color: #fff !important;
}

/* Welcome */

.welcome {
    position: relative;
    background-color: var(--dark) !important;
    margin-top: 4em;
    height: 36rem;
    width: 100%;
    overflow: hidden;
}

.welcome_video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.welcome_logo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.welcome_logo_item {
    max-width: 40rem;
}

/* Team */

.team_image img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
}

.team_text {
    margin: auto;
}

/* Achievements */

.carousel-item img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 350px;
}

.achievements_text {
    margin: auto;
}

/* Courses */

.courses_playlist {
    margin: auto;
}

.courses_playlist iframe {
    width: 100%;
    height: 20em;
}

/* Sponsors */

.sponsors-text {
    text-align: center;
}

.sponsors-picture {
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.sponsors-picture img {
  display: block;
  object-fit: cover;
  object-position: 50% 0;
  height: 150px;
  width: 200px;
}

/* Footer */
.footer a {
    color: var(--light);
}

.footer iframe {
    width: 100%;
    height: 15em;
}

/* Social media */

.social-media {
    position: fixed;
    margin: auto 1em 1em auto;
    max-width: 35px;
}

.icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0.35em 0;
    background-size: cover;
    filter: invert(0%) sepia(4%) saturate(5511%) hue-rotate(345deg) brightness(82%) contrast(87%);
}

.icon_facebook {
    background-image: url("../assets/svg/facebook.svg");
}

.icon_facebook:hover {
    filter: invert(48%) sepia(56%) saturate(5090%) hue-rotate(201deg) brightness(104%) contrast(98%);
}

.icon_youtube {
    background-image: url("../assets/svg/youtube.svg");
}

.icon_youtube:hover {
    filter: invert(28%) sepia(93%) saturate(3172%) hue-rotate(350deg) brightness(107%) contrast(83%);
}

.icon_instagram {
    background-image: url("../assets/svg/instagram.svg");
}

.icon_instagram:hover {
    filter: invert(39%) sepia(73%) saturate(510%) hue-rotate(278deg) brightness(95%) contrast(86%);
}